<nav class="navbar">
    <ul class="order-list">
        <div class="logo">
            <h2 class="logo-name"><span>A</span>froz.</h2>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <div id="btn-search">
            <input class="button" type="text" placeholder="Enter your Text">
            <input class="submit" type="button" value="Search">
        </div>
    </ul>
</nav>