<% layout('/layouts/table') -%>
<footer class="footer-main">
    <div class="footer-container">
    <h2 class="content">Contact Me</h2>
    <form action="/show" method="post">
        <div class="footer-content">
            <input type="name" placeholder="Enter Your Name" name="name" autocomplete="off">
        </div>
        <div class="footer-content">
            <input type="email" placeholder="Enter Your Email" name="email" autocomplete="off">
        </div>
        <div class="footer-content">
    <textarea name="description" id="name" cols="30" rows="10" placeholder="Enter Your Description" autocomplete="off"></textarea>
    </div>
    <div class="footer-content">
    <button class="btn-footer">Submit</button>
    </div>
</form>
    </div>
</footer>
